# Ignore everything
*

# Don't ignore directories (so we can specify files within)
!*/

# Don't ignore .cs files in Assets/Scripts
!Assets/Scripts/**/*.cs
!Assets/Scripts/**/*.meta
!Assets/Scripts/**/*.asmdef
!Assets/Tests/**/*.cs
!Assets/Tests/**/*.meta
!Assets/Tests/**/*.asmdef